<style>
  .card {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 60%;
  }

  .footer {
    background-color: #FF9D71;
    width: 100%;

  }

  .button_div {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }

  .button {
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    ;
    color: black;
    border: 2px solid #99E7B7;
    border-radius: 15px;
  }

  .button:hover {
    border-color: white;
    background-color: #7be0a2;
    color: black;
  }

  .title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FF9D71;
    font-size: larger;
  }

  .subtitle {
    text-align: center;
    font-size: larger;
    color: black;
  }

  .footer_message {
    color: rgba(240, 255, 240, 0.74);
    text-align: center;
  }

  .copyright {
    font-size: small;
  }

  .container {
    padding: 2px 16px;
  }
</style>
<div class="card">
  <div class="container">
    <div class="title">
      <h1><b>{{receiverName}}</b></h1>
    </div>
    <br />
    <p class="subtitle"> Olá {{senderName}}, recebemos uma solicitação de redefinição de senha <br />para o seu endereço
      de email</b></p>
    <br />
    <div class="button_div">
      <a href="{{link}}">
        <button class="button">Redefinir Senha</button>
      </a>
    </div>
    <br />
    <br />

  </div>
  <div class="footer">
    <div class="container">
      <img style="float: center; padding-top:5%;" src="" alt="Logotipo" />
      <p class="footer_message cpyright">&copy;</p>
    </div>
  </div>
</div>